<a href="#">
  <h3>
    <i class='fas fa-arrow-left' style='font-size:24px'></i> New Arrival</h3>
</a>
<br>
<div class="row">
  <div class="col-sm-4">
    <img id="firstimg" src="../../assets/Images/1.jpg" alt="">
  </div>
  <div class="col-sm-4">
    <img id="secondimg" src="../../assets/Images/2.jpg" alt="">
  </div>
  <div class="col-sm-4">
    <h3 id="prodname" style="display: inline">
      <b> &nbsp;&nbsp;&nbsp;Product Name</b>
    </h3>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;
      <i class="fa fa-inr"></i> Rupees </p>
    <br>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;
      <b>COLOR: Sample Color</b>
    </p>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <span class="dot"></span>
    <br>
    <br>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <b>Size</b>
    </p>
    &nbsp;&nbsp;&nbsp;
    <span>
      <button id="sizebtn"> XS </button>&nbsp;&nbsp;&nbsp;
      <button id="sizebtn"> S </button>&nbsp;&nbsp;&nbsp;
      <button id="sizebtn"> M </button>&nbsp;&nbsp;&nbsp;
      <button id="sizebtn"> L </button>&nbsp;&nbsp;&nbsp;
      <button id="sizebtn"> XL </button>
    </span>
    <p style="font-size: 10px; margin-left: 20px">
      <br>In addition to our size guide, we’d recommend that you see the Size & Fit information below before choosing your size.</p>
    <br>
    <br>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <b>Quantity</b>
    </p>
    <br>
    <span> &nbsp;&nbsp;&nbsp;&nbsp;
      <button id="cartbtn">
        Add To Cart
      </button>
    </span>
  </div>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <i>Free shipping on orders above ₹ 5,000</i>
  </p>
</div>