<div class="row navbar-fixed-top" >
  <div class="col-sm-6" style="background-color: #6E99B9">
    <a target="_blank" href="https://www.zara.com/in/"><span style="text-decoration: none;color: white">GARY MEHIGAN X NICOBAR IS HERE  |</span> <span style="text-decoration: underline;color: white">Shop new collection</span></a>
  </div>
  <div class="col-sm-6" style="background-color: #282b30">
      <a target="_blank" href="https://www.zara.com/in/"><span style="text-decoration: none;color: white">GARY MEHIGAN X NICOBAR IS HERE  |</span> <span style="text-decoration: underline;color: white">Shop new collection</span></a>
  </div>
</div>
<nav class="navbar-fixed-top navbar-default">
  <div class="row">
      <div class="col-sm-2" >
        <img src="../../assets/Images/nickl.png" alt="">
      </div>

      <div class="col-sm-1">  
          <ul>
              <li>
                  <a href="#"><b>NEW</b></a>
                  <ul>
                      <li><a href="#">Link 1</a></li>
                      <li><a href="#">Link 2</a></li>
                      <li><a href="#">Link 3</a></li>
                  </ul>
              </li>
          </ul> 
      </div>

      <div class="col-sm-1">  
          <ul>
              <li>
                  <a href="#"><b>WOMEN</b></a>
                  <ul>
                      <li><a href="#">Link 1</a></li>
                      <li><a href="#">Link 2</a></li>
                      <li><a href="#">Link 3</a></li>
                  </ul>
              </li>
          </ul> 
      </div>

      <div class="col-sm-1">  
          <ul>
              <li>
                  <a href="#"><b>MEN</b></a>
                  <ul>
                      <li><a href="#">Link 1</a></li>
                      <li><a href="#">Link 2</a></li>
                      <li><a href="#">Link 3</a></li>
                  </ul>
              </li>
          </ul> 
      </div>

      <div class="col-sm-1">  
          <ul>
              <li>
                  <a href="#"><b>HOME</b></a>
                  <ul>
                      <li><a href="#">Link 1</a></li>
                      <li><a href="#">Link 2</a></li>
                      <li><a href="#">Link 3</a></li>
                  </ul>
              </li>
          </ul> 
      </div>

      <div class="col-sm-1">  
          <ul>
              <li>
                  <a href="#"><b>TRAVEL</b></a>
                  <ul>
                      <li><a href="#">Link 1</a></li>
                      <li><a href="#">Link 2</a></li>
                      <li><a href="#">Link 3</a></li>
                  </ul>
              </li>
          </ul> 
      </div>

      <div class="col-sm-1">  
          <ul>
              <li>
                  <a href="#"><b>GIFTS</b></a>
                  <ul>
                      <li><a href="#">Link 1</a></li>
                      <li><a href="#">Link 2</a></li>
                      <li><a href="#">Link 3</a></li>
                  </ul>
              </li>
          </ul> 
      </div>
      
      <div class="col-sm-1">  
          <ul>
              <li>
                  <a href="#"><b>STORES</b></a>
                  <ul>
                      <li><a href="#">Link 1</a></li>
                      <li><a href="#">Link 2</a></li>
                      <li><a href="#">Link 3</a></li>
                  </ul>
              </li>
          </ul> 
      </div>

      <div class="col-sm-1">  
          <ul>
              <li>
                  <a href="#"><b>JOURNAL</b></a>
                  <ul>
                      <li><a href="#">Link 1</a></li>
                      <li><a href="#">Link 2</a></li>
                      <li><a href="#">Link 3</a></li>
                  </ul>
              </li>
          </ul> 
      </div>

      <div class="col-sm-2">  
         <a id="special1" href="#" onclick=""><i class="fa fa-shopping-bag" style="font-size:24px"></i></a>
              <div id="cartdiv" style="display: none">Hi</div>
      </div>
  </div>
  

</nav>